@font-face {
    font-family: "Pacifico-regular";
    src: url(./fonts/Pacifico-Regular.ttf) format(truetype);
    
}
  

#inicio{
    border: 3px groove red;
    color: rgb(31, 0, 80);
    padding: 10px;
}

.h1_header{
   text-align: center;
   text-transform: uppercase;
   font-family:"Pacifico-regular"
}
s
.nav-ul{
    border: 2px solid orange;
    padding: 23px;
}

li{
    font-size: 20px;
    font-weight: 20px;
}

.main-01{
    margin-top: 10px;
    border: 2px solid  darkblue;
    padding: 10px;
}
.h2-01{
    color: blue;
    border: 2px solid rgb(0, 63, 122);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(226, 217, 217);
}

.img01{
    border: 20px double gray;
    display: block;
    margin: auto;
}

p{
    color: rgb(24, 1, 151);
    font-weight: 90;
    font-size: 20px;
    margin: 20px 10px 10px 10px;
   
}
.ul-01{
    font-size: 20px;
    font-weight: 40px;
    color: rgb(0, 104, 95);
}

.art-01{
    border:3px solid rgb(209, 1, 53);
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 249, 241);
}

summary{
    font-weight: 200;
    color: magenta;
}

.d-01{
    color: brown;
}

.h2-02{
    color: blue;
    border: 2px solid rgb(0, 63, 122);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(226, 217, 217);
}

.art-02{
    width: 50%;
    margin: 0 auto; 
  
}

a{
    text-decoration: none;
    color: rgb(0, 48, 49);
}

th{
    color: crimson;
    font-weight: bolder;
}

tr{
    color: indigo;
    
}

.h2-03{
    color: blue;
    border: 2px solid rgb(0, 63, 122);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(226, 217, 217);
}

form{
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

label{
    color:white ;
    font-weight: bolder;
}
button{
    background: red;
    font-weight: bolder;
    font-size: 15px;
    color: white;
}
.h2-04{
    color: blue;
    border: 2px solid rgb(0, 63, 122);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(226, 217, 217);
}
.ar-01{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}